body {
    background-image: url(images/filmstrip-background.jpg);
}

section {
    background-color: tan;
    margin: 30px
}

h1, h3 {
    color: brown;
    text-align: center;
    margin-top: 20px;
}

h1 {
    padding-top: 20px;
}

.links {
    text-align: center;
}

.nav {
    margin-left: 20px;
    margin-right: 20px;
}

video {
    display: block;
    margin: 0 auto;
}