body {
    background-image: url(images/filmstrip-background.jpg);
}

section {
    background-color: tan;
    margin: 30px
}

h1, h3 {
    color: brown;
    text-align: center;
    margin-top: 20px;
}

.links {
    display: inline;
    text-align: center;
    margin: 30px;
}

video {
    margin: auto;
}